/* Styles */

body {
  margin: 0;
  padding: 0;

  color: #060A08;
  font-family: 'TrasandinaLight';
  font-size: 17px;
  font-weight: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background-color: #fff;
}

.grid {
  width: 90%;
  margin: 0 auto;
}

section {
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}

a, a:visited {
  color: #2cf415;
  color: #21e50b;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

a:hover {
  color: #1dc809;
}

.hero {
  width: 100%;
  height: 460px;

  background-image: url('../img/birdseye_ILOVEYOU.jpg');
  background-size: cover;
}

.importance, .cyber-attacks {
  margin: 100px auto;
}

.largeHeader {
  font-family: 'Detroit10Inline', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 84px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.hero__largeHeader {
  width: 640px;
  margin: 64px auto;
  padding: 30px 20px 48px 20px;

  color: #fff;
  letter-spacing: 0.01em;
  border: 2px solid #fff;
}

.section__pre {
  margin-bottom: 80px;
  text-align: center;
}

.section__pre-subhead {
  margin: 0;
  padding: 0;
}

.section__pre-title {
  display: inline-block;
  margin-bottom: 6px;

  color: #9ff495;
  font-family: 'Detroit10Inline', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.section__pre-subhead {
  font-family: 'TrasandinaBook-Italic', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 23px;
  font-weight: normal;
}

.section__pre-paragraph {
  margin: 40px auto 60px auto;
}

.section__image--left {
  width: 100%;
}

.section__content-meta {
  margin-top: 40px;
}

.section__content--right {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; 
}

.section__border-icon {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding-top: 30px;

  color: #d0d0d0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  text-align: center;
  border-top: 1px solid #eee;
}

.section__content-quote {
  margin: 0;
  padding: 0;
  padding-left: 210px;
  padding-bottom: 20px;

  font-family: 'TrasandinaMedium', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 19px;
}

.section__content-quote--centered {
  padding-left: 0;
  text-align: center;
}

.section__content-quote--jumbotron {
  padding: 80px 0 100px 0;

  color: #fff;
  font-family: 'Detroit10Inline', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 80px;
  letter-spacing: 0.01em;
  line-height: 1;

  background-image: url('../img/sunset_RavMonE.png');
  background size: 1200px auto;
  background-position: center -100px;
}

.section__content-quote-small-note {
  display: inline-block;
  margin-left: 150px;
  margin-top: 25px;
  color: #8f8f8f;
  font-family: 'TrasandinaLight-Italic', 'Open Sans', Helvetica, Arial, sans-serif;
}

.section__content-quote-small-note--centered {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section__content-quote p {
  font-family: 'TrasandinaLight', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.45; 
}

.section__content-quote pre {
  float: left;
  margin: 0;
  margin-left: -210px;

  font-family: 'TrasandinaBlack', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 144px;
  line-height: 1;
}

.section__content-quote-percent {
  display: block;
  float: right;
  margin-top: 7px;
  padding-left: 5px;

  font-family: 'TrasandinaLight', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 48px;
}

.section__quote-attribution {
  display: inline-block;
  margin-top: 12px;
  font-family: 'TrasandinaLight', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 17px;
}

.section__content--centered .section__content-quote {
  margin-top: 50px;
  padding-left: 150px;
}

.section__content--centered .section__content-quote pre {
  margin-left: -150px;
  font-size: 96px;
}

.section__content--centered .section__content-quote-percent {
  font-size: 38px;
}

.section__content-inner--two-sided  {
  clear: both;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 150px;
}

.section__content-inner--two-sided i {
  display: inline-block;
  float: left;
  width: 50%;

  text-align: center;
  line-height: 95px;
}

.section__content-inner--two-sided .ss-males {
  font-size: 76px;
}

.section__content-inner--two-sided .ss-males::after {
  display: block;
  float: right;
  content: 'vs.';
  margin-right: -20px;

  font-family: 'TrasandinaLight', 'Open Sans', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 36px;
}

.section__content-inner--two-sided .ss-females {
  font-size: 51px;
}

.section__content-quote--full-width {
  padding-left: 0;
}

.section__content-quote--full-width pre {
  display: block;
  width: 200px;
  margin: 0 auto;
  float: none;
  font-size: 160px;
  text-align: center;
}


/* Utility Classes */

.bg__code-shape {
  position: absolute;
  z-index: -4;
  width: 1000px;
  height: 1000px;
  opacity: .05;
}

.bg__code-shape--right {
  top: 2160px;
  right: 0;

  background-image: url('../img/code-shape-1.png');
  background-size: cover;
}

.bg__code-shape--left {
  top: 300px;
  left: 0;

  background-image: url('../img/code-shape-2.png');
  background-size: cover;
}