
/* Utility Classes */

.bg__code-shape {
  opacity: .05;
  z-index: -4;
  position: absolute;
  width: 1000px;
  height: 1000px;
}

.bg__code-shape--right {
  top: 2230px;
  right: 0;

  background-image: url('../img/code-shape-1.png');
  background-size: cover;
}

.bg__code-shape--left {
  top: 300px;
  left: 0;

  background-image: url('../img/code-shape-2.png');
  background-size: cover;
}

.bg__code-shape--usa {
  width: 740px;
  height: 740px;
  top: 2025px;
  left: calc(50% - 360px);

  background-image: url('../img/code-usa.png');
  background-size: cover;
}

/* Styles */

body {
  margin: 0;
  padding: 0;
  color: #060A08;
  font-family: 'TrasandinaLight';
  font-size: 17px;
  font-weight: normal;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  background: #fff;
}

.grid {
  width: 90%;
  margin: 0 auto;
}

section {
  clear: both;
  overflow: hidden;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 460px;
  background-image: url('../img/birdseye_ILOVEYOU.png');
  background-size: cover;
}

.importance, .cyber-attacks {
  margin: 100px auto;
}

.largeHeader {
  font-family: 'Detroit10Inline', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 84px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}

.hero__largeHeader {
  margin: 64px auto;
  padding: 30px 20px 48px 20px;
  width: 640px;
  color: #fff;
  letter-spacing: 0.01em;
  border: 2px solid #fff;
}

.section__pre {
  text-align: center;
  margin-bottom: 80px;
}

.section__pre-subhead {
  margin: 0;
  padding: 0;
}

.section__pre-title {
  display: inline-block;
  margin-bottom: 6px;
  color: #9ff495;
  font-family: 'Detroit10Inline', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.section__pre-subhead {
  font-family: 'TrasandinaBook-Italic', sans-serif;
  font-weight: normal;
  font-size: 23px;
}

.section__pre-paragraph {
  width: 60%;
  margin: 40px auto 60px auto;
}

.section__image--left {
  width: 100%;
}

.section__content-meta {
  margin-top: 40px;
}

.section__content--right {
  box-sizing: border-box;
  padding: 20px; 
}

.section__border-icon {
  display: block;
  font-family: helvetica;
  font-style: normal;
  font-weight: 100;
  width: 240px;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 100;
  color: #d0d0d0;
  text-align: center;
  border-top: 1px solid #eee;
}

.section__content-quote {
  margin: 0;
  padding: 0;
  padding-left: 210px;
  padding-bottom: 20px;
  font-family: 'TrasandinaMedium', sans-serif;
  font-size: 19px;
}

.section__content-quote--centered {
  padding-left: 0;
  text-align: center;
}

.section__content-quote--jumbotron {
  padding: 80px 0 100px 0;
  color: #fff;
  font-family: 'Detroit10Inline', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 80px;
  letter-spacing: 0.01em;
  line-height: 1;

  background-image: url('../img/sunset_RavMonE.png');
  background size: 1200px auto;
  background-position: center -100px;
}

.section__content-quote-small-note {
  display: inline-block;
  margin-left: 150px;
  margin-top: 25px;
  font-family: 'TrasandinaLight-Italic';
  color: #8f8f8f;
}

.section__content-quote--centered::before {
  /*content: '“';*/
}

.section__content-quote--centered::after {
  /*content: '”';*/
}

.section__content-quote p {
  font-family: 'TrasandinaLight';
  font-size: 17px;
  font-weight: 100;
  line-height: 1.45; 
}

.section__content-quote pre {
  float: left;
  margin: 0;
  margin-left: -210px;

  font-family: 'TrasandinaBlack', sans-serif;
  font-size: 144px;
  line-height: 1;
}

.section__content-quote-percent {
  display: block;
  float: right;
  margin-top: 7px;
  padding-left: 5px;

  font-family: 'TrasandinaLight', sans-serif;
  font-size: 48px;
}

.section__content--centered .section__content-quote {
  margin-top: 50px;
  padding-left: 150px;
}

.section__content--centered .section__content-quote pre {
  font-size: 96px;
  margin-left: -150px;
}

.section__content--centered .section__content-quote-percent {
  font-size: 38px;
}

.section__content-quote-attribution {

}

.section__content-inner--two-sided  {
  clear: both;
  overflow: hidden;
  margin-left: 150px;
  margin-top: 10px;
}

.section__content-inner--two-sided i {
  display: inline-block;
  width: 50%;
  float: left;
  text-align: center;
  line-height: 95px;
}

.section__content-inner--two-sided .ss-males {
  font-size: 76px;
}

.section__content-inner--two-sided .ss-males::after {
  display: block;
  float: right;
  content: 'vs.';
  margin-right: -28px;

  font-family: 'TrasandinaLight', sans-serif;
  font-style: normal;
  font-size: 36px;
}

.section__content-inner--two-sided .ss-females {
  font-size: 51px;
}

.section__content-quote--full-width {
  padding-left: 0;
}

.section__content-quote--full-width pre {
  display: block;
  width: 200px;
  margin: 0 auto;
  float: none;
  text-align: center;
  font-size: 160px;
}


/* Colors */ 

.green {
  color: #96FF8A;
}

.dark-purple {
  color: #220029;
}

.purple {
  color: #1d128e;
}

.hideme {
  opacity:0;
}




